/*以下变量用在具体页面的css的值中： */
$global-header-bg: #1d2b36; // 顶部导航栏背景色
$base-green: #4dbd73; // 主色调
$base-success: #7ebf41; // 成功色
$base-warning: #ffb60a; // 警告色
$base-danger: #f06a3a; // 危险色
$base-blue: #3b9bff; // 信息蓝色
$base-strong-font: #333333; // 最强字体色
$base-font: #666666; // 基础字体色
$base-light-font: #aaaaaa; // 最弱字体色
$base-border: #dddddd; // 基础边框、分割线、描边色
$base-light-border: #eeeeee; // 较弱边框、分割线色
$base-f7: #f7f7f7; // #f7f7f7
$base-9: #999999; // #999999
